<table class = "table">
  <theader>
    <td>Wiki</td>
    <td>Last Updated</td>
    <td>Options</td>
  </theader>

  <tbody>
    <% @wikis.each do |wiki| %>
    <tr>
    <td>
      <%= wiki.title %>   
    </td>
    <td>
      <i><%= time_ago_in_words(wiki.updated_at) %> ago</i>
    </td>
    <td>
      <%= link_to "Edit", edit_wiki_path %> | <%= link_to "Delete", edit_wiki_path, method: :delete %>
    </td>
    </tr>
    <% end %>

  </tbody>
</table>