<table>
  <theader>
    <td>Wiki</td>
    <td>Options</td>
  </theader>
  <tbody>
    <td>
    <%= @wikis.each do |wiki| %>
      <%= wiki.title %>   
    <% end %>

        </td>
    <td></td>
  </tbody>
</table>