<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Blocipedia</a>
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="active"><%= link_to "Home", welcome_index_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "About", '#' %></li>
        </ul>
        <ul class="pull-right nav">
          <li><%= link_to "Sign In", '#' %></li>
        </ul>
    </div>
  </div>
</div>